@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* colors */

:root {
  --hero-color: hsl(263, 78%, 75%);
  --menu-color: hsl(236, 57%, 28%);
  --footer-bottom: hsl(230, 59%, 16%);
  --white: hsl(0, 0%, 100%);

  /* fontes */
  * {
    --ff-source-sans-pro: "Source Sans 3", sans-serif;
    --ff-poppins: "Poppins", sans-serif;

    --fs-1: 4.2rem;
    --fs-2: 3.8rem;
    --fs-3: 3.2rem;
    --fs-4: 2.5rem;
    --fs-5: 2.4rem;
    --fs-6: 2rem;
    --fs-7: 1.8rem;
    --fs-8: 1.5rem;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
  }

  /* border radius */

  --radius-4: 4px;
  --radius-12: 12px;

  /* spacing */

  --section-padding: 60px;

  /* transition */

  --transition-1: 0.15s ease;
  --transition-2: 0.35s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  /* shadow */

  --shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
}

.header {
  justify-content: center;
  color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 14px;
  z-index: 4;
  transition: var(--transition-1);

  &.active {
    color: var(--menu-color);
    position: fixed;
    background-color: var(--white);
    box-shadow: 0 2px 30px hsla(0, 0%, 0%, 0.048);
  }

  .btn-top {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-inline: 15px;
  }
}

.housecat-logo {
  height: 50px;
  align-items: center;
}

.logo {
  color: rgb(92, 51, 51);
  font-family: var(--ff-poppins);
  font-size: var(--fs-3);
}

.nav-open-btn {
  color: rgb(92, 51, 51);
  padding: 4px;
}

.navbar {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: -280px;
  width: 100%;
  max-width: 280px;
  min-height: 100%;
  padding: 20px;
  visibility: hidden;
  z-index: 2;
  transition: 0.25s var(--cubic-in);

  &.active {
    transform: translateX(280px);
    visibility: visible;
    transition: 0.5s var(--cubic-out);
  }

  .navbar-top {
    display: flex;
    justify-content: space-between;
    padding-block: 10px 30px;

    .logo {
      color: rgb(92, 51, 51);
      font-size: 3.2rem;
      font-weight: var(--fw-700);
    }
  }

  .nav-close-btn {
    color: var(--footer-bottom);
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .navbar-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.055);
  }

  .navbar-link {
    color: rgb(92, 51, 51);
    font-family: var(--ff-poppins);
    font-size: var(--fs-8);
    font-weight: var(--fw-600);
    padding-block: 12px;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.507);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-2);

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.hero {
  background-color: var(--hero-color);
  box-shadow: var(--shadow);
  background-position: -280px bottom, center, center;
  background-size: auto, cover, auto;
  padding-block-start: 120px;
  padding-block-end: var(--section-padding);
  border-radius: 0% 100% 0% 100% / 67% 0% 100% 33%;

  .hero-content {
    margin-block-end: 50px;
  }

  .hero-subtitle {
    color: rgb(92, 51, 51);
    font-family: var(--ff-poppins);
    font-size: var(--fs-4);
    font-weight: var(--fw-700);
    margin-block-end: 15px;
    display: none;
  }

  .hero-title {
    color: rgb(90, 16, 228);
    font-size: var(--fs-1);
    margin-block-start: -25px;
  }

  .hero-text {
    color: var(--white);
    font-family: var(--ff-poppins);
    font-size: var(--fs-8);
    margin-block-end: 30px;
  }
}

.btn,
.btn-adopt,
.adote-btn {
  background-color: rgb(90, 16, 228);
  background-size: 200%;
  font-family: var(--ff-poppins);
  color: var(--white);
  padding: 12px 35px;
  font-size: var(--fs-8);
  font-weight: var(--fw-600);
  border-radius: 0 25px;
  transition: var(--transition-2);

  &:hover {
    background-color: darkblue;
    transform: translateY(-3px);
  }

  &.btn-adopt,
  &.adote-btn {
    background-color: rgb(92, 51, 51);
    background-size: 200%;
    font-family: "Poppins";
    color: var(--white);
    padding: 12px 35px;
    font-size: var(--fs-8);
    font-weight: var(--fw-600);
    border-radius: 0 25px;
    transition: var(--transition-2);

    &:hover {
      background-color: rgb(73, 41, 41);
      transform: translateY(-3px);
    }
  }
}

.w-100 {
  width: 100%;
}

.banner-animation {
  animation: waveAnim 2s linear infinite alternate;
}

@keyframes waveAnim {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  100% {
    transform: translate(2px, 2px) rotate(1deg);
  }
}

.about-banner {
  font-family: var(--ff-poppins);
  margin-block-end: 30px;
}

h2 {
  margin-top: 30px;
}

.section {
  padding-block: var(--section-padding);
}

.section-title {
  color: rgb(90, 16, 228);
  font-size: var(--fs-3);
  margin-block-end: 60px;
  max-width: max-content;
  margin-inline: auto;
}

.underline {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 6px;
    background-color: hsl(318, 79%, 77%);
    border-radius: 20px;
  }
}

.about {
  .section-title {
    margin-inline: 0;
  }

  .underline::before {
    left: 0;
    transform: translateX(0);
  }
}

body {
  .js-scroll {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: 0.3s;

    &.ativo {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

footer {
  background-color: rgb(92, 51, 51);
  box-shadow: var(--shadow);
  padding-block-end: 30px;
  padding-inline: 15px;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    padding-block-start: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-block-end: 15px;
  }

  .title {
    font-size: var(--fs-7);
    color: var(--white);
    font-family: var(--ff-poppins);
    margin-block-end: 20px;
  }

  .list {
    list-style: none;
    font-family: var(--ff-poppins);
    font-size: var(--fs-8);
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .list a {
    text-decoration: none;
    transition: var(--transition-2);

    &:hover {
      text-decoration: underline;
    }
  }

  .social-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block-start: 20px;
  }

  .social-list a {
    color: hsl(0, 0%, 100%);
    display: grid;
    place-items: center;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: var(--transition-2);
    box-shadow: var(--shadow);

    &:hover {
      background-color: hsl(220, 13%, 18%);
    }
  }

  .copyright {
    font-size: 13px;
    text-align: center;
    margin-block-start: 30px;
    font-family: var(--ff-poppins);
  }
}
